body, html {
    margin: 30;
    font-family: "Courier New", Courier, monospace;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.content {
    margin: 1 auto;
    width: 400px;
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}

.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 200;
}

.logo_container h1 span{
    font-weight: 800;
}

.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child{
    padding-right: 0;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: "Montserrat";
    font-size: 16px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

.selector{
    margin: 0 auto;
    width: 900px;
}


#fig1 {
    /*margin: 1 auto;*/
    width: 500px;
    position: absolute;
    top: 100px;
    left: 60%;
}

#points{
    position: absolute;
    width: 350px;
    left: 7%;
    top: 100px;
}

#regression{
    position: absolute;
    left: 35%;
    top: 100px;
}