<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href= "https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
	<div class = "header">
		<div class ="inner_header">
			<div class="logo_container">
				<h1>REGRESSION<span>GRAPHER</span></h1>
			</div>
			<ul class = "navigation">
				<a href= "/regraph"><li>Home</li></a>
				<a href= "/about"><li>About</li></a>
				<a href= "/math"><li>Math</li></a>
				<a href= "/contact"><li>Contact</li></a>
			</ul>
		</div>
	</div>
    {% block body %}{% endblock %}
</body>
</html>