{% extends 'base.html' %}

{% block head %}
<title>Grapher</title>
{% endblock %}

{% block body %}
<div class ="content">
	<h1>LinReg Grapher</h1>

	<table>
		<tr>
			<th>x</th>
			<th>y</th>
			<th>Delete</th>
		</tr>
		{% for point in points %}
			<tr>
				<td>{{ point.xValues }}</td>
				<td>{{ point.yValues }}</td>
				<td>
					<a href="/delete/{{point.id}}">Delete</a>
				</td>

			</tr>
		{% endfor %}
	</table>

	<form action = "/" method= "POST">
		<input type = "text" name= "content" id = "content">
		<input type="submit" value="Add Point">

	</form>
	<form action = "/" method= "GET">
		<input type="submit" value="GRAPH">
		<label for = "regs">Choose a regression type:</label>
		<select name = "regs" id = "regs"> 
<!-- 			<option value = 1>1st Degree</option>
			<option value = 2>2nd Degree</option>
			<option value = 3>3rd Degree</option>
			<option value = 4>4th Degree</option> -->
			<option value=1{% if regstatus==1 %} selected="selected"{% endif %}>1st Degree</option>
			<option value=2{% if regstatus==2 %} selected="selected"{% endif %}>2nd Degree</option>
			<option value=3{% if regstatus==3 %} selected="selected"{% endif %}>3rd Degree</option>
			<option value=4{% if regstatus==4 %} selected="selected"{% endif %}>4th Degree</option>
		</select>

	</form>
</div>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="http://mpld3.github.io/js/mpld3.v0.1.js"></script>
<div id="fig1">
	<h1>Graph</h1>
	<script type="text/javascript">
		mpld3.draw_figure("fig1", {{ json1|safe }});
	</script>
</div>
{% endblock %}